<p style="color: green"><%= notice %></p>

<% content_for :title, "Rewards" %>

<h1>Rewards</h1>

<div>
  <table id="rewards">
    <thead>
      <tr>
        <th>Recipient</th>
        <th>Reward Type</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Sent At</th>
        <th>Delivery Times</th>
      </tr>
    </thead>
    <tbody>
      <% @rewards.each do |reward| %>
        <%= render reward %>
      <% end %>
    </tbody>
  </table>
</div>

<%= turbo_frame_tag "new_reward" do %>
  <%= render "form", reward: Reward.new %>
<% end %>
